<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if current_user %>
      <header>
        <form action="<%= session_url %>" method="post">
          <label>
            <%= current_user.user_name %>
            <br>
            <input type="hidden" name="_method" value="delete">
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
            <input type="submit" name="" value="Logout">
          </label>
        </form>
      </header>
    <% end %>
    <%= yield %>
  </body>
</html>
